div.document {
    min-width: 1000px;
    width: 80vw;
}

/* .dataframe {
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.9em;
    border: none;
    border-collapse: collapse;
} */

.dataframe tr:nth-of-type(2n) {
    background: #e7e4e4;
}
.dataframe th, .dataframe td {
    border: none;
    font-weight: normal;
    padding: 2px 4px;
}

.dataframe th {
    background: #cfcfcf;
 
}

.prompt {
    min-width: 10ex !important;
}


div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(4) {
    display: none;
}


div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(3) {
	display: none;
}


div.rst-versions > div.rst-other-versions > div.injected > dl:first-child {
	display: none;
}

div.rst-other-versions dl dd:nth-child(2), div.rst-other-versions dl dd:nth-child(3), {
	display: none;